<div class="footer-social">
  <a href="https://github.com/hummingbird-me/hummingbird" class="kitsu-social sidebar-github">
    {{svg-jar "l-github"}}
  </a>
  <a href="https://twitter.com/HeyKitsu" class="kitsu-social sidebar-twitter">
    {{svg-jar "l-twitter"}}
  </a>
  <a href="https://www.facebook.com/kitsu" class="kitsu-social sidebar-facebook">
    {{svg-jar "l-facebook"}}
  </a>
</div>

<div class="footer-links">
  <a href="mailto:josh@kitsu.io" class="site-link">Contact</a>
  <a href={{href-to "terms"}} class="site-link">Terms</a>
</div>